@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.greetingForm {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.inputAndButtonContainer {
    display: flex;
    gap: 12px;
}

.error {
    color: #C00;
}

.input {
    width: 372px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    padding: 8px 12px;
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    outline: none;
    margin-bottom: 7px;
}

.input:focus {

}

.errorInput {
    border-color: #C00;
}

.button {
    font-weight: 600;
    line-height: 20px;
    color: white;
    border: none;
    background-color: #06C;
    padding: 5px 24px;
    height: 36px;
    border-radius: 3px;
}

.button:focus {
}

.button:active {
}

.button:disabled {
    opacity: 0.5;
}

.text {
    color: rgba(0, 0, 0, 0.50);
    margin-bottom: 9px;
}

.greeting {
    margin-bottom: 10px;
    font-weight: 400;
}
